.u-section-1 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 894px;
}

.u-section-1 .u-text-1 {
  margin: 106px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 60px 213px 0 65px;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 34px auto 0 247px;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 56px auto 0 121px;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 313px;
  margin: 6px 525px 0 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 78px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 30px;
    margin-left: 176px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 29px;
    margin-right: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 61px;
  }
}